{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style2.css' %}">
    <title>Home</title>
</head>
<body class='user_base_index_body'>
    <h2 align=left class='activity-title'>Apollo ticket management system</h2>
    <header align='right' class='user_header_btns'>
        <div class='header_div'></div>
            <!--form action=''>
                <button class='btn'>User Home</button>
            </form-->
            <form action='{%url "newticket" %}'>
                <button class='btn'>New Ticket</button>
            </form>
            <form action='{%url "oldtickets" %}'>
                <button class='btn'>Old Tickets</button>
            </form>
             <form action='{%url "home" %}'>
               <button class='btn'>Logout</button>
            </form>
        </div>
    </header>
    <br><br><br><br>


        {% block content %}
        
        {% endblock %}
             
</body>
</html>